#page-11{
    background-color: #444444;
    /* height: 800vh; */
    color: white;
}


  
.video-container video { 
    object-fit: cover; /* Untuk menjaga aspek rasio video dan mengisi seluruh kontainer */
}


.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
  }
  
  #zoom-image-1,
  #zoom-image-2,
  #zoom-image-3,
  #zoom-image-4,
  #zoom-image-5,
  #zoom-image-6,
  #zoom-image-7,
  #zoom-image-8,
  #zoom-image-9,
  #zoom-image-10
  #zoom-image-11,
  #zoom-image-12,
  #zoom-image-13,
  #zoom-image-14,
  #zoom-image-15,
  #zoom-image-16 {
    width: 100%;
    height: 100%;
    /* border-radius: 40px; */
    transition: transform 0.3s ease;
  }


.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin-top: 20px;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #fe00e9;
    font-size: 36px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  h1 {
    text-align: center;
  }
  
  
  
  
