#page-19{
    background-color: white;
    height: 500vh;
}

.chat-tembak{
    background-color: rgb(8, 222, 8);
    font-size: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.chat-tembak-lawan{
    background-color: rgb(8, 222, 8);
    font-size: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}