.foto-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    border-radius: 10px;
  }

.foto-container img {
    display: inline-block;
    width: 300px;
    height: auto;
    margin-right: 10px;
  }


.swiper{
    width: calc(100% - 20%);
    height: calc(70vh - 4rem);
    border-radius: 10px;
}